#nav {
  top: 0;
  position: fixed;
  width: 80px;
  height: 100%;
  background: #503314;
  background-image: url('img/treemenu.png');
  transition: width .5s ease-in-out;
  z-index: 3;

  .menuLogo {
  width: 70px;
  height: 74px;
  margin-top: 6px;
  margin-left: 5px;
  background-image: url('img/logo.png');
  background-size: cover;
  transition: width .5s ease-in-out, height .5s ease-in-out, margin-top .5s ease-in-out, margin-left .5s ease-in-out;
}

.btn {
  margin-top: 360px;
  margin-left: 27px;
  width: 26px;
  height: 22px;
  background-image: url('img/menu.png');
}

.btnsp {
  width: 33px;
  height: 9px;
  margin-top: 20px;
  margin-left: 23px;
  color: #ffffff;
  font-family: "Officina Serif";
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.menuElements {
    transition: all .2s ease-in-out;
    transition-delay: .5s;
    opacity: 0;
  }

  .tagline {
  display:none;
  align-items: center;
  width: 106px;
  height: 55px;
  margin-top: 25px;
  margin-left: 77px;
}

.menu {
  width: 110px;
  height: 265px;
  margin-top: 55px;
  margin-left: 25px;
  color: #ffffff;
  font-family: "Officina Serif";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

ul {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
    padding-left: 0
}

li {
  margin-bottom: 24px;
  list-style-type: none;
}

.phoneNum {
  width: 138px;
  height: 15px;
  margin-top: 140px;
  margin-left: 25px;
  
}

.phoneNum > span {
  text-align: center;
  color: #fefefe;
  font-family: "Officina Serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 17px;
}

.schedule {
  width: 122px;
  height: 15px;
  margin-top: 5px;
  margin-left: 32px;
}

.schedule > span {
  color: #fefefe;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
}

.backCall {
  width: 156px;
  height: 15px;
  margin-top: 50px;
  margin-left: 22px;
}

.backCall > span {
  text-align: center;
  color: #fefefe;
  font-family: "Officina Serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}
  
  &.active {
    width: 210px;
    
    .menuLogo {
      width: 108px;
      height: 113px;
      margin-top: 25px;
      margin-left: 45px;
    }

    .btn {
      position: absolute;
      top: 0;
      left: 170px;
      margin: 0;
      width: 40px;
      height: 40px;
      background-image: url('img/menu_close.png');
      background-size: 13px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .btn:active {
      background-color: #006022;
    }
    
    .btnsp {
      display: none;
    }

    .menuElements {
      opacity: 1
    }


  }
}

.share {
	width: 255px;
	height: 825px;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 175px;
	left: 740px;
	z-index: 2;
}

.shareSpan {
	color: #343434;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 15px;
}

.social {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	margin-left: 10px;
}

.stat {
	margin-left: 5px;
} 

.specifications {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	margin-top: 55px;
}

.specifications > img {
	height: 235px;
}

.spec {
	margin-top: 5px;
	color: #343434;
	font-family: Roboto;
	font-size: 18px;
	list-style: none;
}

.spec > li {
	margin-bottom: 20px;
}

sup {
	font-size: 12px;
}

.price {
	color: #006022;
	font-family: "Officina Serif";
	font-size: 30px;
	font-weight: 700;
	margin-top: 5px;
}

.button {
	width: 255px;
	height: 66px;
	margin-top: 35px;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
	background-color: #006022;
	border: 0px;
	background-image: url('img/button.png'); 

}

.button:active {
	background-color: #068433;
}

.button > span {
	width: 154px;
	height: 21px;
	color: #ffffff;
	font-family: "Officina Serif";
	font-size: 22px;
	font-weight: 700;
}

.about {
	width: 235px;
	height: 181px;
	color: #1c1c1c;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 23.94px;
	margin-top: 35px;
	margin-left: 5px;
}

.project {
	width: 920px;
	height: auto;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 80px;
	z-index: 1;
}

.miniNav {
	width: 161px;
	height: 14px;
	margin-top: 40px;
	margin-left: 20px;
}

.miniNav > span {
	color: #1c1c1c;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
}

.miniNav > img {
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

.projectName {
	width: 660px;
	height: 53px;
	margin-top: 40px;
	margin-left: 20px;
	color: #503314;
	font-family: "Officina Serif";
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}

.overview {
	width: 640px;
	height: 555px;
	margin-top: 35px;
	margin-left: 10px;
}

.mainImg {
	width: 640px;
	height: 425px;
}

.carusel {
	width: 640px;
	height: 110px;
	margin-top: 20px;
}

.scheme {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	width: 635px;
	height: 317px;
}

.floors:first-child {
	margin-right: 85px;
}

.floors > div {
	width: 280px;
	margin-top: 35px;
}

.floors > span {
	width: 60px;
	height: 13px;
	color: #343434;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	float: left;
}

.floors:first-child > span {
	margin-left: 20px;
}

.table {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 920px;
}

.table > ul {
	margin-left: 10px;
	margin-top: 50px;
	padding: 0;
	list-style: none;
}

.table > ul > li {
	width: 445px;
	height: 40px;
	margin-bottom: 0px;
}

.table > ul > li > img {
	width: 52px;
	height: 44px;
	margin-left: 40px;
	margin-top: 26px;
}

.table > ul:last-child > li > img {
	width: 53px;
	height: 39px;
	margin-top: 35px;
}

.table > ul > li:nth-child(odd) {
	background-color: #f2f2f2
}

.table > ul > li:first-child {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	height: 104px;
}

.table > ul > li:first-child > div{
	margin-left: 35px;
	margin-top: 25px;
	color: #1c1c1c;
	font-family: "Officina Serif";
	font-size: 22px;
	font-weight: 700;
}

.table > ul > li:last-child {
	height: 104px;
	background-image: url('img/lastli1.png')
}

.table > ul:last-child > li:last-child {
	background-image: url('img/lastli2.png');
}

.table > ul > li > span {
	margin-left: 30px;
	color: #343434;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 41px;
}

.table > ul > li:last-child > span{
	margin-left: 166px;
	color: #ffffff;
	font-family: "Officina Serif";
	font-size: 30px;
	font-weight: 700;
	line-height: 100px;
}

.delivery {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	width: 920px;
	height: 333px;
	margin-top: 30px;
	background-color: #f6f6f6;
}

.deltitle {
	margin-top: 40px;
	margin-left: 430px;
	margin-bottom: 25px;
	width: 121px;
	height: 26px;
	color: #1c1c1c;
	font-family: "Officina Serif";
	font-size: 30px;
	font-weight: 700;
}

.delabout {
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	width: 444px;
	height: 41px;
	color: #1c1c1c;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	line-height: 23.94px;
}

.delabout > span {
	font-weight: 700;
}

.delivery > div {
	margin-left: 235px;
	margin-top: 35px;
	margin-bottom: 45px;
}

.delivery > div > img {
	margin-right: 40px;
}

.description {
	width: 300px;
	margin-top: 55px;
	margin-bottom: 25px;
	margin-left: 375px;
	color: #1c1c1c;
	font-family: "Officina Serif";
	font-size: 30px;
	font-weight: 700;
}

.desabout {
	width: 850px;
	margin-left: 30px;
	margin-bottom: 45px;
	color: #1c1c1c;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 23.94px;
}

.vs {
	margin-left: 75px;
	margin-bottom: 65px;
	width: 828px;
	height: 538px;
}

.twentytwenty-horizontal {
	width: 910px;
}

.built {
	width: 600px;
	margin-left: 200px;
	color: #1c1c1c;
	font-family: "Officina Serif";
	font-size: 30px;
	font-weight: 700;
}

.PhAndVid {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 850px;
	height: 375px;
	margin-top: 35px;
	margin-left: 55px;
	margin-bottom: 55px;
}

.col {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
}

.col:first-child {
	display: none
}

.ph1 {
	width: 257px;
	height: 173px;
	margin-right: 30px;
	margin-bottom: 25px;
	background-color: red;
}

.pdf {
	width: 91px;
	height: 124px;
	margin-top: 15px;
	background-color: red;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.31);
}

.PhAndVid > div > span {
	color: #343434;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
}

.PhAndVid > div > span:last-child {
	margin-top: 330px;
	margin-left: 25px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 665px;
}

.vid {
	width: 539px;
	height: 363px;
	background-color: red;
}

.onlyPh {
	display: none
}

.footer {
	display:none
}


.footer2 {
	display:none
}